/* comparison-table start style */

.comparison-table-container {
  /* background-image: url(../img/compare_products_bg.png); */
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.comparison-table {
  padding: 50px 0;
}

.comprasion-h1 {
  color: #425055;
  margin-bottom: 0;
}

.comprasion-p {
  color: #425055;
  text-align: center;
}


.faq-1,
.faq-2,
.faq-3 {
  margin-top: 20px;
}
/* Right column */
.position-relative-td {
  position: relative;
  padding: 0 !important;
}
.position-relative-td span {
  padding: 20px 50px;
  display: block;
}

.div-absolute-text-head {
  position: absolute;
  left: -230px;
  top: 30px;
  text-align: right;
  font-style: italic;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
}

.div-absolute-icon-head {
  display: none;
}

.div-absolute-text-body {
  position: absolute;
  left: -280px;
  width: 250px;
  text-align: right;
  font-style: italic;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
}

.div-absolute-number-body {
  position: absolute;
  left: -280px;
  width: 250px;
  text-align: right;
  font-style: italic;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  top: 10px;
}

.tenth-percent-tr {
  background: transparent !important;
  border-bottom: 1px solid transparent !important;
}

.tenth-percent-tr td {
  background: #f8f8f8;
}

.tenth-percent-tr td:first-child {
  border-bottom-left-radius: 20px;
}

.tenth-percent-tr td:last-child {
  border-bottom-right-radius: 20px;
}

.comprasion-table-body {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
}

.main-table-comprasion {
  background: #fff;
  border-radius: 20px;
}

.main-table-comprasion thead tr td {
  text-align: center;
  color: #425055;
  font-size: 36px;
  padding: 20px 50px;
  border-right: 2px solid #afb5b7;
}

.main-table-comprasion thead tr td:last-child {
  border: none;
}

.main-table-comprasion td {
  text-align: center;
  border-right: 2px solid #afb5b7;
}

.main-table-comprasion tr td:last-child {
  border: none;
}

.main-table-comprasion tbody tr td {
  font-size: 26px;
  font-weight: 400;
  padding: 20px 50px;
}

.main-table-comprasion .price-tr {
  color: #425055;
  font-size: 32px;
}

.main-table-comprasion .lines-matching td {
  font-style: italic;
  font-size: 22px;
  color: #707070;
  padding: 16px 5px;
}

.tbody-table-percent-tr td {
  padding: 0 !important;
}

.tbody-table-percent-tr .left-percent-td-div {
  float: left;
  width: 50%;
  border-right: 1px solid #f8f8f8;
  height: 100%;
  padding: 16px 0;
}

.tbody-table-percent-tr .right-percent-td-div {
  padding: 16px 0;
  height: 100%;
}
/* comparison-table end style */

/* media */
@media (min-width: 1700px) {
  .main-table-comprasion thead tr td {
    font-size: 32px;
  }
}

@media (max-width: 1700px) {
  .main-table-comprasion thead tr td {
    font-size: 26px;
  }
  .main-table-comprasion tbody tr td {
    font-size: 20px;
    padding: 20px 40px;
  }
  .main-table-comprasion .lines-matching td {
    font-size: 20px;
  }
  .ref-broker-link td img {
    width: 35px;
  }
  .comprasion-table-body {
    margin: 0 auto;
  }
  .div-absolute-text-head {
    font-size: 24px;
    left: -210px;
  }
  .div-absolute-text-body {
    font-size: 24px;
  }
  .price-tr .div-absolute-text-body {
    padding-top: 15px;
  }
  .div-absolute-number-body {
    font-size: 24px;
    top: 15px;
  }
}

@media (max-width: 1499px) {
  .div-absolute-text-body {
    line-height: 30px;
    left: -270px;
    width: 240px;
  }
  .div-absolute-text-head {
    font-size: 22px;
    left: -190px;
  }
  .div-absolute-text-body {
    font-size: 22px;
  }
}

@media (max-width: 1449px) {
  .div-absolute-text-head {
    left: -180px;
  }
  .main-table-comprasion thead tr td {
    font-size: 24px;
  }
  .position-relative-td span {
    padding: 18px 40px;
    display: block;
  }
  .main-table-comprasion thead tr td {
    padding: 18px 0px;
  }
  .main-table-comprasion tbody tr td {
    padding: 18px 0;
  }
  .ref-broker-link td img {
    width: 30px;
  }
  .main-table-comprasion .lines-matching td {
    font-size: 16px;
  }
  .number-of-trading-systems .div-absolute-text-body {
    padding-top: 15px;
  }
  .div-absolute-text-body {
    line-height: 28px;
    left: -260px;
    width: 240px;
  }
  .price-tr .div-absolute-text-body {
    padding-top: 20px;
  }
  .number-of-trading-systems .div-absolute-text-body,
  .license-duration .div-absolute-text-body,
  .ref-broker-link .div-absolute-text-body {
    padding-top: 8px;
  }
}

@media (max-width: 1400px) {
  .comprasion-table-body {
    padding-left: 15%;
  }
  .comprasion-h1 {
    margin-bottom: 12px;
  }
  .comparison-table {
    padding: 35px 0;
  }
  .comprasion-table-text .comprasion-p {
    /* margin: 10px; */
  }
  .main-table-comprasion thead tr td {
    font-size: 22px;
  }
  .main-table-comprasion tbody tr td {
    padding: 15px 20px;
  }
  .main-table-comprasion tbody tr td {
    font-size: 17px;
  }
  .ref-broker-link td img {
    width: 27px;
  }
  .div-absolute-text-head {
    font-size: 20px;
    left: -170px;
  }
  .div-absolute-text-body {
    font-size: 20px;
    line-height: 20px;
    left: -235px;
    width: 210px;
  }
  .number-of-trading-systems .div-absolute-text-body {
    /* padding-top: 15px; */
  }
  .div-absolute-number-body {
    font-size: 22px;
  }
  .position-relative-td span {
    padding: 15px 30px;
  }
}

@media (max-width: 1299px) {
  .div-absolute-text-head {
    font-size: 18px;
    left: -155px;
  }
  .div-absolute-text-body {
    font-size: 18px;
    left: -205px;
    width: 180px;
    line-height: 20px;
  }
  .price-tr .div-absolute-text-body {
    padding-top: 15px;
  }
  .number-of-trading-systems .div-absolute-text-body {
    padding-top: 5px;
  }
  .div-absolute-number-body {
    font-size: 20px;
  }
  .main-table-comprasion .lines-matching td {
    font-size: 17px;
  }
  .ref-broker-link td img {
    width: 25px;
  }
}

@media (max-width: 1249px) {
  .main-table-comprasion thead tr td {
    font-size: 19px;
    padding-top: 15px;
  }
}

@media (max-width: 1199px) {
  .comprasion-table-body {
    padding-left: 2%;
  }
  .div-absolute-text-head {
    display: none;
  }
  .div-absolute-text-body {
    display: none;
  }
  .div-absolute-icon-head {
    position: absolute;
    display: block;
    left: -60px;
    top: 5px;
    width: 50px;
    height: 50px;
    background-image: url(../img/help.svg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .div-absolute-icon-head:hover {
    background-image: url(../img/help_hover.svg);
  }
}

@media (max-width: 999px) {
  .main-table-comprasion thead tr td {
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0px;
  }
  .main-table-comprasion tbody tr td {
    font-size: 15px;
  }
  .div-absolute-icon-head {
    left: -50px;
    top: 10px;
    width: 45px;
    height: 45px;
  }
  .main-table-comprasion .lines-matching td {
    font-size: 13px;
  }
  .ref-broker-link td img {
    width: 21px;
  }
  .div-absolute-number-body {
    font-size: 17px;
  }
  .position-relative-td span {
    padding: 15px 20px;
  }
  .main-table-comprasion tbody tr td {
    padding: 15px 10px;
  }
}

@media (max-width: 959px) {
  .position-relative-td span {
    padding: 15px 25px;
  }
}

@media (max-width: 889px) {
  .comprasion-h1 {
    margin-bottom: 10px;
  }
  .main-table-comprasion thead tr td {
    font-size: 12px;
    padding: 15px 0px;
  }
  .position-relative-td span {
  }
  .main-table-comprasion tbody tr td {
    font-size: 11px;
  }
  .div-absolute-icon-head {
    left: -35px;
    width: 35px;
    height: 35px;
  }
  .main-table-comprasion .lines-matching td {
    font-size: 10px;
  }
  .ref-broker-link td img {
    width: 16px;
  }
  .div-absolute-number-body {
    font-size: 13px;
    left: -265px;
  }
  .position-relative-td span {
    padding: 15px 20px;
  }
  .main-table-comprasion tbody tr td {
    padding: 15px 10px;
  }
}

@media (max-width: 749px) {
  .main-table-comprasion thead tr td {
    font-size: 11px;
    padding: 15px 0;
  }
  .position-relative-td span {
    padding: 15px;
  }
  .main-table-comprasion .lines-matching td {
    padding: 15px 0;
  }
}

@media (max-width: 599px) {
  .comprasion-h1 {
    margin-bottom: 0px;
  }
  .comparison-table {
    padding: 20px 0;
  }
  .comprasion-table-body {
    margin: 0 auto;
    padding-top: 10px;
  }
  .comprasion-table-text .comprasion-p {
    margin-bottom: 0;
  }
  .main-table-comprasion thead tr td {
    font-size: 7px;
    padding: 15px 20px;
  }
  .main-table-comprasion tbody tr td {
    padding: 15px 0;
    font-size: 8px;
  }
  .position-relative-td span {
    padding: 15px 20px;
  }
  .ref-broker-link td img {
    width: 11px;
  }
  .main-table-comprasion .lines-matching td {
    padding: 10px 3px;
    font-size: 7px;
  }
  .div-absolute-icon-head {
    left: -30px;
    width: 30px;
    height: 30px;
  }
  .div-absolute-number-body {
    font-size: 10px;
    left: -260px;
  }
}

@media (max-width: 449px) {
  .main-table-comprasion thead tr td{
    padding: 15px 0;
  }
  .position-relative-td span {
    padding: 15px 10px;
  }
  .main-table-comprasion .lines-matching td {
    padding: 10px 5px;
  }
}

