/*the container must be positioned relative:*/
.sign-up-btn-language {
  position: relative;
  /* width: 60px; */
  /* height: 60px; */
  border-radius: 50%;
  color: #41b4e6;
  font-size: 16px;
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.sign-up-btn-language:focus {
    background: red
}

.sign-up-btn-language select {
  display: none; /*hide original SELECT element:*/
}

.select-selected-lang {
  background-color: #fff;
}

/*style the arrow inside the select element:*/
.select-selected-lang:after {
  position: absolute;
  content: "";
  border: 11px solid transparent;
  border-color: transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected-lang.select-arrow-active-lang:after {
  border-color: transparent;
}



/*style the items (options), including the selected item:*/
.select-items-lang div,
.select-selected-lang {
  padding: 15px 18px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  user-select: none;
  text-align: center;
  border: 2px solid #41b4e6;

}

.select-arrow-active-lang {
    background: #41b4e6;
    color: white;
    text-decoration: none;
    transition: all 0.1s ease;
}
.select-items-lang div {
  border: 2px solid #41b4e6;
  font-size: 13px;
  padding: 17px;
  margin-top: 5px;
}


/*style items (options):*/
.select-items-lang {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 99;
  overflow: hidden;
}

.select-items-lang div:hover {
  box-shadow: inset 0px 0px 3px 3px rgba(24, 106, 162, 0.3);
}

/*hide the items when the select box is closed:*/
.select-hide-lang {
  display: none;
}

.select-items-lang div:hover {
}

.same-as-selected-lang {

}

.div-select-style-lang {
}

@media (max-width: 1399px) {
  .select-selected-lang:after {
    top: 19px;
    right: 20px;
  }
  .select-items {
    top: 50px;
  }
}

@media (max-width: 1199px) {
  .select-selected-lang:after {
    top: 17px;
    right: 15px;
  }
}

@media (max-width: 959px) {
  .select-items-lang {
    top: 60px;
  }
  .select-selected-lang:after {
    top: 16px;
  }
}
@media (max-width: 859px) {
  .select-selected-lang:after {
    top: 14px;
    right: 14px;
    border: 7px solid transparent;
  }
  .select-items-lang div, .select-selected-lang {
    padding: 12px 15px;
  }
}

@media (max-width: 499px) {
  .sign-up-btn-language {
    font-size: 12px;
  }
  .select-items-lang div, .select-selected-lang {
    padding: 10px 13px;
  }
  .select-items {
    top: 55px;
  }
}

