h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: "Gilroy Light";
}
/* header start style */
.header {
  margin: 0 auto;
  background-color: #fff;
}

.header-container {
  padding: 20px 0;
}

.left-header-block {
}

.logo-lang-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* logo */
.logo {
  padding-right: 80px;
  max-width: 170px;
}

.logo-header img {
  width: 100%;
}

.roundborders {
  border-radius: 5px;
}

#language-us {
  display: none;
}

.right-header-block {
}

.menu-header nav {
  padding-top: 20px;
}

/* navigation */
.nav ul {
  padding: 0;
}

.nav ul li {
  display: inline;
}

.nav ul li a {
  font-size: 20px;
  font-weight: 500;
  color: #425055;
  list-style: none;
  text-decoration: none;
  padding: 20px 40px 20px 0;
  transition: all 0.1s ease;
}
.nav ul li:last-child {
  padding-right: 10px;
}

.nav ul li a:hover {
  color: #41b4e6;
  /* font-family: "Gilroy Extra Bold"; */
  transition: all 0.1s ease;
}

.nav ul li a:focus {
  font-family: "Gilroy Extra Bold";
  color: #41b4e6;
}
.div-sign-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* sign up button */
.link-sign-up {
  font-size: 17px;
  border-radius: 40px;
  padding: 5px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease;
  font-family: "Gilroy Extra Bold";
}

.sign-up-btn-svg {
}

.sign-up-btn-svg-telegram {
  display: inline;
}

.sign-up-btn-svg-telegram-hover {
  display: none;
}

.link-sign-up:hover .sign-up-btn-svg-telegram-hover {
  display: inline;
}

.link-sign-up:hover .sign-up-btn-svg-telegram {
  display: none;
}

.link-sign-up:hover,
.link-sign-up:active {
  color: #21a7f2;
  text-decoration: none;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(24, 106, 162, 0.3);
  transition: all 0.2s ease;
  opacity: 0.8;
}

.link-gradient {
  background-image: linear-gradient(#1da5f3, #21a7f2, #23a8f1);
  color: white;
  text-decoration: none;
  transition: all 0.1s ease;
}

.sign-up-btn-registration {
  padding: 0 20px 0 10px;
  font-family: "Gilroy Extra Bold";
}
#sign-up-btn-mobile {
  display: none;
}

/* mobile-menu-header */
#mobile-menu-header-btn {
  border: 1px solid transparent;
}
#mobile-menu-header-btn {
  display: none;
  height: 58px;
  margin: 5px 10px 5px 0;
  padding: 0px 14px 0;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  text-align: center;
  background-image: linear-gradient(to right, #1aa4f4 0%, #61c6f6 78%, #75cff6 100%);
  color: #fff;
}

.mmhclear {
  height: 58px;
  padding: 5px 10px 0;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-image: linear-gradient(#fff);
  color: #21a7f2;
}

.mobile-menu-header .uk-button .uk-button-default .uk-open {
  color: red;
}

#mobile-menu-header-btn:hover,
#mobile-menu-header-btn:active,
#mobile-menu-header-btn:focus {
  color: #fff;
}

.mobile-menu-header .mobile-span-menu svg {
  width: 30px;
  height: 30px;
}

.mobile-span-close {
  padding: 0 5px;
}

.menu-header-ul {
  margin: 0px 0px;
  padding: 20px 35px;
  border-radius: 0;
  border-bottom-left-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  right: -13%;
  width: 320px;
}

.menu-header-ul ul {
  list-style-type: none;
  padding: 0;
}
.menu-header-ul ul li a {
  color: #333;
  font-size: 22px;
  line-height: 45px;
}


.hover-menu-mobile {
  box-shadow: 0px 0px 10px 10px rgba(24, 106, 162, 0.3);
}


/* header end style */

@media (max-width: 1599px) {
  .logo {
    padding-right: 45px;
  }
}
@media (max-width: 1599px) {
  .header-container {
    padding: 15px 0;
  }
  .logo {
    padding-right: 30px;
  }
  .languagepicker li {
    font-size: 15px;
  }
  .languagepicker li img {
    width: 45%;
  }
  .language {
  }
  .nav ul li a {
    font-size: 16px;
    padding: 20px 10px;
  }

  .link-sign-up {
    font-size: 14px;
  }
}
@media (max-width: 1499px) {
  .languagepicker li img {
    width: 38%;
  }
}

@media (max-width: 1399px) {
  .header-container {
    padding: 20px 0;
  }
  .languagepicker li {
    font-size: 15px;
    padding-top: 3px;
  }
  .languagepicker li img {
    width: 35%;
  }
  .nav ul li a {
    font-size: 16px;
    padding: 20px 9px;
  }
}

@media (max-width: 1199px) {
  .header-container {
    justify-content: space-between;
    padding: 25px 0;
  }
  .logo {
    max-width: 130px;
  }
  .menu-header {
    padding: 0;
  }
  .nav,
  .language {
  }
  .link-sign-up {
    font-size: 14px;
  }
}

@media (max-width: 969px) {
  .menu-header .nav {
    display: none;
  }
  #mobile-menu-header-btn {
    display: block;
  }
  .header-container {
    justify-content: space-between;
    padding: 10px 0;
  }
  #sign-up-btn {
    display: none;
  }
  #sign-up-btn-mobile {
    display: block;
  }
  .link-sign-up {
    font-size: 16px;
  }
}

@media (max-width: 859px) {
  .link-sign-up {
    padding: 2px;
    font-size: 14px;
  }
  #mobile-menu-header-btn {
    height: 50px;
    margin: 5px 10px 5px 0;
    padding: 0px 9px 0;
  }
}

@media (max-width: 639px) {
  .header-container {
    padding: 15px 15px;
  }
  .logo {
    width: 135px;
  }
  .link-sign-up {
    font-size: 17px;
  }
  
}

@media (max-width: 619px) {
  .header-container {
    justify-content: space-around;
  }
  .sign-up-btn-svg .sign-up-btn-svg-telegram,
  .sign-up-btn-svg .sign-up-btn-svg-telegram-hover {
    width: 40px;
  }
}

@media (max-width: 499px) {
  .nav, .language {
    display: flex;
  }
  .header-container {
    justify-content: space-around;
  }
  .logo {
    width: 100px;
    padding-right: 10px;
  }
  .link-sign-up {
    font-size: 14px;
  }
  .sign-up-btn-svg .sign-up-btn-svg-telegram, .sign-up-btn-svg .sign-up-btn-svg-telegram-hover,
  .link-sign-up:hover .sign-up-btn-svg-telegram-hover {
    display: none;
  }
  #mobile-menu-header-btn {
    height: 42px;
    width: 42px;
    margin: 5px 10px 5px 0;
    padding: 0px 5px 0;
  }
 
}


