/* video block start style */

.video-container {
  background-image: url(../img/bg-faq.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.video-block {
  padding: 50px 0;
  height: 254px;
}

.video-text {
  max-width: 650px;
  text-align: center;
}

.video-text p {
  color: #ffffff;
  font-family: 'Gilroy Extra Bold';
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
}

.title-video-block {
  color: #ffffff;
}

.description-video-block {
  /* font-size: 30px; */
  color: #ffffff;
  margin-top: 0;
  text-align: center;
  margin-bottom: 30px;
}

.video-block-iframe {
  border-radius: 20px;
  overflow: hidden;
}

.video-iframe {
  width: 820px;
  height: 461px;
}

/* video block end style */

@media (max-width: 1599px) {
  .video-block {
    padding: 35px 0;
  }
}

@media (max-width: 1400px) {
  .video-block {
    padding: 30px 0;
  }
  .title-video-block {
    margin-bottom: 10px;
  }

}

@media (max-width: 1200px) {
  .title-video-block {
    font-weight: 300;
  }
  .video-block {
    padding: 15px 0;
  }
}

@media (max-width: 959px) {
  .video-iframe {
    width: 640px;
    height: 360px;
  }
  .video-text p {
    font-size: 40px;
  }
  .video-block {
    padding: 0;
  }
}

@media (max-width: 650px) {
  .video-iframe {
    max-width: 100%;
    width: 320px;
    height: 180px;
  }
  .video-text p {
    font-size: 30px;
    margin: 0;
  }
}

@media (max-width: 599px) {
  .sign-up-btn-svg .sign-up-btn-svg-telegram, .sign-up-btn-svg .sign-up-btn-svg-telegram-hover, .link-sign-up:hover .sign-up-btn-svg-telegram-hover {
    display: none;
  }
  
}
@media (max-width: 499px) {
  .video-block {
    margin: 0;
    padding: 20px 0;
    height: 160px;
  }
  .video-iframe {
    width: 310px;
    height: 200px;
  }
  .video-text p {
    font-size: 25px;
    line-height: inherit;
  }
  
}