.faq__accordion {
  margin: 0 auto;
}

.faq .uk-accordion {
  margin-bottom: 50px;
}

.faq .uk-accordion-title {
  display: block;
  width: 100%;
  color: #48555a;
  font-family: 'Gilroy Extra Bold';
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.faq .uk-accordion-title:focus,
.faq .uk-accordion-title:active {
  color: #41b4e6;
  
}

.faq .uk-accordion-title::before {
  float: right;
  background-image: url(../img/expand_hover.png);
  width: 50px;
  height: 50px;
  margin-left: 0;
  margin-right: 30px;
  margin-top: 0;
  -webkit-background-size: cover;
  background-size: cover;
}

.faq .uk-open .uk-accordion-title::before {
  background-image: url(../img/hide_hover.svg);
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-right: 35px;
}

.faq .uk-accordion-content {
  padding-top: 25px;
  padding-right: 90px;
  padding-bottom: 20px;
  color: #48555a;
  font-family: 'Gilroy';
  font-size: 20px;
  margin: 0;
}

.reward-item-second {
  margin: 10px 20px;
  border-radius: 50px;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 0px 20px 40px ;
}

.blue-font {
  color: #41b4e6 !important;
}

@media(max-width: 959px) {
  .faq .uk-accordion-title {
    font-size: 22px;
  }
  .faq .uk-accordion-title p {
    font-size: 18px;
  }
}


@media(max-width: 699px) {
  .faq .uk-accordion-title {
    font-size: 20px;
}
  .faq .uk-accordion-content {
    font-size: 16px;
  }
}



@media(max-width: 499px) {
  .faq .uk-accordion-title {
    font-size: 16px;
}
  .faq .uk-accordion-content {
    font-size: 14px;
  }
  .reward-item-second {
    padding: 20px 0px 20px 20px;
  }
}